body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}


/* main {
  margin: 0px 50px 0px 50px;
} */

h1 {
  color: #000;
  font-size: 26px;
  font-weight: bolder;
}

h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

h3 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 10px;
}

h4 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
}

p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 5px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #0065fc;
}

.fas.fa-star.bleu {
  color: #0065fc;
}

.fas.fa-star {
  color: #f2f2f2;
}


/*header*/

header {
  width: auto;
  height: 50px;
  background-color: #ffffff;
  padding-top: 10px;
  position: sticky;
  top: 0;
  margin: 0px 50px 0px 50px;
}

.asLogo {
  float: right;
  margin: 20px 40px 40px 0px;
}

.logo {
  width: 100px;
  height: auto;
}

.menu {
  float: right;
}

.menu ul li {
  list-style-type: none;
  display: inline;
  margin-left: 30px;
}

.menu ul li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
  color: #0065fc;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  border-bottom: solid 3px #F2F2F2;
  font-size: large;
}

#inscription {
  color: #0065fc;
}


/*research*/

.research {
  padding: 15px 5px 15px 15px;
  display: flex;
  flex-direction: row;
}

.research-item {
  background-color: #F2F2F2;
  border: none;
  border-radius: 15px 0 0 15px;
  color: #000000;
  height: 52px;
  width: 52px;
  padding: 0;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 230px;
  height: 45px;
}

input[value="Marseille, France"] {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

#search_btn[type=submit] {
  width: 130px;
  height: 52px;
  border-style: solid;
  border-color: #0065fc;
  background-color: #0065fc;
  border-radius: 0px 20px 20px 0px;
  margin-left: -4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}


/*filter*/

.filters {
  display: inline-block;
}

.filter-btn {
  width: auto;
  height: 52px;
  border-radius: 26px;
  color: #f2f2f2;
  display: inline;
}

.filters ul {
  margin-left: -40px;
}

.filters ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 50px;
}

.filter-item {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #deebff;
  text-align: center;
  line-height: 52px;
}

.filters p {
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.filter-text {
  width: auto;
  height: 52px;
  text-align: center;
  line-height: 52px;
  border-radius: 26px;
  border-color: #F2F2F2;
  border-style: solid solid solid hidden;
  margin-left: -50px;
  padding: 0px 15px 0px 60px;
}

.filters p:hover {
  color: #0065fc;
}

.fas.fa-money-bill-wave {
  color: #0065fc;
}

.fas.fa-dog {
  color: #0065fc;
}

.fas.fa-heart {
  color: #0065fc;
}

.fas.fa-child {
  color: #0065fc;
}


/*info disponilbe*/

.disponible-section p {
  display: inline-block;
}

.disponible-item {
  width: 30px;
  height: 30px;
  border-radius: 26px;
  border-style: solid;
  border-color: #F2F2F2;
  text-align: center;
  line-height: 30px;
}

.fas.fa-info {
  color: #0065fc;
}


/*hebergement*/

.conteneur {
  display: flex;
  justify-content: space-between;
}

.hébergement_section {
  width: 70%;
  border-radius: 24px;
  background-color: #F2F2F2;
  padding: 45px 35px 25px 45px;
  order: 1;
}

.hébergement_section ul {
  display: flex;
  flex-wrap: wrap;
}

.hébergement_section ul li {
  list-style-type: none;
  display: inline-block;
  margin-inline-start: -60px;
}

.hebergement-Btn {
  height: 201px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  padding: 5px 5.5px 5px 5.5px;
}

.hebergement-Img {
  height: 117px;
  width: 100%;
  border-radius: 24px 24px 0px 0px;
}


/*populaire*/

.fas.fa-chart-line {
  float: right;
}

.populaire-Aside {
  width: 25%;
  border-radius: 24px;
  background-color: #F2F2F2;
  padding: 45px 35px 25px 45px;
  order: 2;
  margin-left: 30px;
}

.populaire-Aside ul {
  padding-top: 20px;
}

.populaire-Aside ul li {
  list-style-type: none;
  margin-inline-start: -80px;
}

.populaire-Btn {
  height: 135px;
  width: 346px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  padding: 5px 5.5px 5px 5.5px;
}

.populaire-Img {
  float: left;
  height: 100%;
  width: 129px;
  border-radius: 24px 0px 0px 24px;
}

.populaire-info h3 {
  margin-left: 150px;
  margin-bottom: 0px;
  line-height: 1;
}

.populaire-info p {
  margin-left: 150px;
  margin-bottom: 45px;
}


/*activitée*/

.activités-section {
  padding: 15px 0px 30px 0px;
}

.activités-section h2 {
  margin: 20px 0px 0px 0px;
}

#activités_art {
  display: flex;
  margin: 15px 0px 0px 30px;
}

.activités-section ul {
  display: inline-block;
  margin-left: -80px;
  margin-right: 10px;
  margin-top: 0px;
  height: 444px;
}

.activités-section ul li {
  list-style-type: none;
  display: flow;
  margin-right: -5px;
}

.activité-Big {
  width: 299px;
  height: 444px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: 5px 5px 6px #F2F2F2;
}

.activité-Img-Big {
  width: 100%;
  height: 395px;
  border-radius: 24px 24px 0px 0px;
}

.activité-name {
  margin-left: 20px;
}

.activité-Med1 {
  width: 299px;
  height: 241px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: 5px 5px 6px #F2F2F2;
  margin-bottom: 40px;
}

.activité-Img-Med1 {
  width: 100%;
  height: 183px;
  border-radius: 24px 24px 0px 0px;
}

.activité-Small1 {
  width: 299px;
  height: 165px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: 5px 5px 6px #F2F2F2;
}

.activité-Img-Small1 {
  width: 100%;
  height: 111px;
  border-radius: 24px 24px 0px 0px;
}

.activité-Small2 {
  width: 299px;
  height: 197px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: 5px 5px 6px #F2F2F2;
}

.activité-Img-Small2 {
  width: 100%;
  height: 140px;
  border-radius: 24px 24px 0px 0px;
}

.activité-Med2 {
  width: 299px;
  height: 237px;
  background-color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: 5px 5px 6px #F2F2F2;
  margin-top: -7px;
}

.activité-Img-Med2 {
  width: 100%;
  height: 174px;
  border-radius: 24px 24px 0px 0px;
}


/*footer*/

.footer {
  width: 100%;
  background-color: #F2F2F2;
}

.footer ul {
  display: inline-table;
  margin: 0px 50px 0px 50px;
}

.footer ul li {
  list-style-type: none;
  margin-right: 100px;
}

@media(min-width:957px) and (max-width: 1550px) {}

@media (min-width:375px) and (max-width: 926px) {
  main {
      margin: 0px;
  }
  h1 {
      font-size: 16px;
  }
  /*header*/
  header {
      height: 50px;
      margin: 0px;
  }
  .menu ul li {
      display: table-column;
      margin-left: 0px;
  }
  .menu ul li a:hover {
      border-bottom: 2px solid #0065fc;
      padding-bottom: 21px;
  }
  /*research*/
  #search_btn[type=submit] {
      width: 52px;
      height: 52px;
  }
}