body {
    font-family: 'Raleway', sans-serif;
}

figure,
figcaption,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    object-fit: cover;
}

h1 {
    color: #000;
    font-size: 26px;
    font-weight: bolder;
}

h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

h3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
}

h4 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
}

p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 5px;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065fc;
}

.fas.fa-star.bleu {
    color: #0065fc;
}

.fas.fa-star {
    color: #f2f2f2;
}


/*header*/

header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
}
.container{
    margin: 0rem;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo empty nav inscription";
}
.logo {
    width: 100px;
    height: auto;
    padding: 16px;
    padding-left: 0;
    margin-left: 2rem;
    grid-area: logo;
}

.menu {
    display: flex;
    align-items: stretch;
    grid-area: nav;
    padding: 1rem;
    padding-top: 0;
    margin-right: 1rem;
}

nav a{
    padding-right: 2rem;
    padding-left: 2rem;
    border-top: 5px solid #fff;
    padding-top: 35px;
}

nav a:hover {
    border-top: 5px solid #0065fc;
    padding-top: 35px;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-size: large;
}

#inscription {
    color: #0065fc;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-right: 1rem;
    grid-area: inscription;

}


/*research*/

.research {
    padding: 15px 5px 15px 15px;
    display: flex;
    flex-direction: row;
}

.research-item {
    background-color: #F2F2F2;
    border: none;
    border-radius: 15px 0 0 15px;
    color: #000000;
    height: 52px;
    width: 52px;
    padding: 0;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 230px;
    height: 45px;
}

input[value="Marseille, France"] {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

#search_btn[type=submit] {
    width: 130px;
    height: 52px;
    border-style: solid;
    border-color: #0065fc;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    margin-left: -4px;
}

#search_btn p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#search_btn i {
    display: none;
}


/*filter*/

.filters {
    display: inline-block;
}

.filters h3 {
    line-height: 92px;
    margin-right: 20px;
}

.filter-btn {
    width: auto;
    height: 52px;
    border-radius: 26px;
    color: #f2f2f2;
    display: inline;
}


.filters ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

.filter-item {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background-color: #deebff;
    text-align: center;
    line-height: 52px;
}

.filters p {
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.filter-text {
    width: auto;
    height: 52px;
    text-align: center;
    line-height: 52px;
    border-radius: 26px;
    border-color: #F2F2F2;
    border-style: solid;
    margin-left: -58px;
    padding: 0px 15px 0px 60px;
}

.filters p:hover {
    color: #0065fc;
}

.fas.fa-money-bill-wave {
    color: #0065fc;
}

.fas.fa-dog {
    color: #0065fc;
}

.fas.fa-heart {
    color: #0065fc;
}

.fas.fa-child {
    color: #0065fc;
}


/*info disponilbe*/

.disponible-section p {
    display: inline-block;
    margin-left: 20px;
}

.disponible-item {
    width: 30px;
    height: 30px;
    border-radius: 26px;
    border-style: solid;
    border-color: #F2F2F2;
    text-align: center;
    line-height: 30px;
}

.fas.fa-info {
    color: #0065fc;
}


/*hebergement*/

.conteneur {
    display: flex;
    justify-content: space-between;
}

.hébergement_section {
    width: 70%;
    border-radius: 24px;
    background-color: #F2F2F2;
    padding: 45px 20px 20px 45px;
    order: 1;
}

.hébergement_section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hébergement_section ul li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 20px;
}

.hebergement-Btn {
    height: 201px;
    width: 240px;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    padding: 5px 5.5px 5px 5.5px;
}

.hebergement-Img {
    height: 117px;
    width: 100%;
    border-radius: 24px 24px 0px 0px;
}


/*populaire*/

.fas.fa-chart-line {
    float: right;
}

.populaire-Aside {
    width: 25%;
    border-radius: 24px;
    background-color: #F2F2F2;
    padding: 45px 10px 25px 20px;
    order: 2;
    margin-left: 30px;
}

.populaire-Aside ul {
    padding-top: 20px;
}

.populaire-Aside ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.populaire-Btn {
    height: 135px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    padding: 5px 5.5px 5px 5.5px;
}

.populaire-Img {
    float: left;
    height: 100%;
    width: 129px;
    border-radius: 24px 0px 0px 24px;
}

.populaire-info h3 {
    margin-left: 150px;
    margin-bottom: 0px;
    line-height: 1;
}

.populaire-info p {
    margin-left: 150px;
    margin-bottom: 45px;
}


/*activitée*/

.activités-section {
    padding: 15px 0px 30px 0px;
}

.activités-section h2 {
    margin: 20px 0px 0px 0px;
}

#activités_art {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: space-between;
    padding: 0;
}

#activités_art>li {
    width: 24%;
    background:#fff;
}

#activités_art figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

#activités_art>li>ul {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#activités_art>li>ul figure {
    margin: 0;
    padding: 0;
}

.activités-section ul li {
    list-style-type: none;
}

.activité-Big {
    height: 100%;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    box-shadow: 5px 5px 6px #F2F2F2;
}

.activité-Img-Big {
    width: 100%;
    height: 395px;
    border-radius: 24px 24px 0px 0px;
}

.activité-name {
    margin-left: 20px;
}

.activité-Med1 {
    width: 299px;
    height: 241px;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    box-shadow: 5px 5px 6px #F2F2F2;
    margin-bottom: 40px;
}

.activité-Img-Med1 {
    width: 100%;
    height: 183px;
    border-radius: 24px 24px 0px 0px;
}

.activité-Small1 {
    width: 299px;
    height: 165px;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    box-shadow: 5px 5px 6px #F2F2F2;
}

.activité-Img-Small1 {
    width: 100%;
    height: 111px;
    border-radius: 24px 24px 0px 0px;
}

.activité-Small2 {
    width: 299px;
    height: 197px;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    box-shadow: 5px 5px 6px #F2F2F2;
}

.activité-Img-Small2 {
    width: 100%;
    height: 140px;
    border-radius: 24px 24px 0px 0px;
}

.activité-Med2 {
    width: 299px;
    height: 237px;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    box-shadow: 5px 5px 6px #F2F2F2;
    margin-top: -7px;
}

.activité-Img-Med2 {
    width: 100%;
    height: 174px;
    border-radius: 24px 24px 0px 0px;
}


/*footer*/

.footer {
    width: 100%;
    background-color: #F2F2F2;
    padding: 50px 0;
}

.footer ul {
    display: inline-table;
    margin: 0px 50px 0px 50px;
}

.footer ul li {
    list-style-type: none;
    margin-right: 100px;
}


/*tablet*/

@media(min-width:950px) and (max-width: 1200px) {
    .conteneur {
        display: flex;
        flex-wrap: wrap;
        margin-right: 30px;
    }
    .populaire-Aside {
        width: 100%;
        padding: 40px 35px 25px 40px;
        margin-bottom: 10px;
        margin-left: 0px;
        order: 1;
    }
    .populaire-Aside ul {
        display: flex;
    }
    .populaire-Aside ul li {
        display: inline-block;
    }
    .populaire-Btn {
        height: 100px;
        width: 240px;
    }
    .populaire-Img {
        float: left;
        height: 100%;
        width: 90px;
        border-radius: 24px 0px 0px 24px;
    }
    .populaire-info h3 {
        margin-left: 100px;
        margin-bottom: 0px;
    }
    .populaire-info p {
        margin-left: 100px;
        margin-bottom: 10px;
    }
    .hébergement_section {
        width: 100%;
        order: 2;
        padding: 45px 20px 10px 45px;
    }
    .activité-Big {
        width: 200px;
        height: 404px;
    }
    .activité-Img-Big {
        width: 100%;
        height: 355px;
    }
    .activité-name {
        margin-left: 10px;
    }
    .activité-name h4 {
        line-height: 1;
    }
    .activité-Med1 {
        width: 200px;
        height: 201px;
    }
    .activité-Img-Med1 {
        width: 100%;
        height: 143px;
    }
    .activité-Small1 {
        width: 200px;
        height: 165px;
    }
    .activité-Img-Small1 {
        width: 100%;
        height: 111px;
    }
    .activité-Small2 {
        width: 200px;
        height: 187px;
    }
    .activité-Img-Small2 {
        width: 100%;
        height: 130px;
    }
    .activité-Med2 {
        width: 200px;
        height: 207px;
    }
    .activité-Img-Med2 {
        width: 100%;
        height: 144px;
    }
    .footer ul {
        margin: 0px 20px 0px 20px;
    }
    .footer ul li {
        margin-right: 20px;
    }
}

@media(min-width:650px)and (max-width:949px) {
    header {
        width: 100%;
    }
    .conteneur {
        width: 100%;
        display: table-row-group;
        justify-content: space-between;
    }
    .populaire-Aside {
        width: 100%;
        border-radius: 0px;
        margin-left: -5%;
        padding: 5%;
        order: 1;
    }
  
    .populaire-Btn {
        height: 130px;
        width: 90%;
    }
    .hébergement_section {
        width: 100%;
        background-color: #ffffff;
    }
    .hébergement_section ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .hébergement_section ul li {
        list-style-type: none;
        display: inline-flex;
        justify-content: space-around;
    }
    .hebergement-Btn {
        box-shadow: 3px 3px #c4c4c4;
    }
    .activités-section {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        padding-bottom: 30px;
    }
    #activités_art>li {
        width: 100%;
        margin-bottom: 20px;
    }
    #activités_art>li>ul>li {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
    }
    #activités_art>li>ul {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
    }
    .activité-name {
        margin-top: -15px;
    }
    .activité-Big {
        width: 90%;
        height: 100%;
        box-shadow: 3px 3px #c4c4c4;
    }
    .activité-Img-Big {
        width: 100%;
        height: 160px;
    }
    .activité-name {
        margin-left: 10px;
    }
    .activité-name h4 {
        line-height: 1;
    }
    .activité-Med1 {
        width: 90%;
        height: 100%;
        box-shadow: 3px 3px #c4c4c4;
    }
    .activité-Img-Med1 {
        width: 100%;
        height: 160px;
    }
    .activité-Small1 {
        width: 90%;
        height: 100%;
        box-shadow: 3px 3px #c4c4c4;
    }
    .activité-Img-Small1 {
        width: 100%;
        height: 160px;
    }
    .activité-Small2 {
        width: 90%;
        height: 100%;
        box-shadow: 3px 3px #c4c4c4;
    }
    .activité-Img-Small2 {
        width: 100%;
        height: 160px;
    }
    .activité-Med2 {
        width: 90%;
        height: 100%;
        box-shadow: 3px 3px #c4c4c4;
    }
    .activité-Img-Med2 {
        width: 100%;
        height: 160px;
    }
}

@media(min-width:380px)and (max-width:649px) {
    
    header {
        width: 100%;
        height: 170px;
        margin: 0;
    }
    .container{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo empty inscription" "nav nav nav";
    }
    .menu {
       display: inline-flex;
       flex-wrap: nowrap;
       justify-content: center;
       padding:0;
       margin: 0;
       margin-right: 0;
       margin-top: -2rem;
       order:2;
       width: 100%;
    }
    
    .logo{
        order:0;
        padding: 0;
        padding-top: 1rem;
        margin: 0;
    }
    .inscription{
       order:1;
    }
    
    nav a {
        width: 100%;
        text-align: center;
        border-top: none;
        padding-top: none;
        line-height: 5;
        border-bottom: 2px solid #c4c4c4;
        
        
    }
    nav a:hover {
        border-top: none;
        padding-top: none;
        border-bottom: 2px solid #0065fc;
       
    }

   
    #search_btn[type=submit] {
        width: 52px;
        height: 52px;
    }
    #search_btn p {
        display: none;
    }
    #search_btn i {
        display: initial;
    }
    .fa.fa-search {
        color: #ffffff;
    }
    .filters {
        display: table-row;
    }
    .filters ul li {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .filters p {
        display: inline-block;
    }
    .disponible-section p {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .conteneur {
        width: 100%;
        display: table-row-group;
        justify-content: space-between;
    }
    .populaire-Aside {
        width: 100%;
        border-radius: 0px;
        margin-left: -5%;
        padding: 5%;
        order: 1;
    }
    
    .populaire-Btn {
        height: 130px;
        width: 80%;
    }
    .hébergement_section {
        width: 100%;
        order: 2;
        background-color: #ffffff;
    }
    .hébergement_section ul li {
        justify-content: center;
    }
    .hébergement_section h3 {
        margin-left: 10px;
    }
    .hébergement_section p {
        margin-left: 10px;
    }
    .hebergement-Btn {
        height: 200px;
        width: 80%;
        margin-bottom: 50px;
        box-shadow: 3px 3px #c4c4c4;
    }
    .hebergement-Img {
        height: 120px;
        width: 100%;
        border-radius: 24px 24px 0px 0px;
    }
    ul#activités_art {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    ul#activités_art figure {
        height: 200px;
    }
    ul#activités_art>li:nth-child(2),
    ul#activités_art>li:last-child {
        height: auto;
    }
    ul#activités_art>li:nth-child(2) ul li:last-child,
    ul#activités_art>li:last-child ul li:last-child {
        margin-bottom: 0;
    }
    ul#activités_art li {
        width: 100%;
        margin-bottom: 30px;
    }
    ul#activités_art li figure img {
        height: 150px;
    }
    ul#activités_art>li:nth-child(2) li,
    ul#activités_art>li:last-child li {
        height: 200px;
    }
}